.header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5%; */
    box-sizing: border-box;
    font-size: 20vw;
    width: 100vw;
    pointer-events: none;
}